/* --------HIGHLIGHTS COLORS-------- */
.gray {
    background-color: gray;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.purple {
    background-color: purple;
}
p {
    border: 4px solid blueviolet;
    margin: 0;
    /* border-width: 2px;
    border-style: solid;
    border-color: red; */
}
/* --------FLEX DIRECTION-------- */
.container-flex {
    display: flex;
    border: 4px solid rgb(216, 52, 120);
}
.container-row {
    flex-direction: row;
}
.container-rowr { 
    flex-direction: row-reverse;
}
.container-col {
    flex-direction: column;
}
.container-colr{
    flex-direction:  column-reverse;
}
.single-line {
    flex-wrap: nowrap;
}
.multiple-lines {
    flex-wrap: wrap;
}
.flex-flow {
    flex-flow: column wrap;
}
/* --------JUSTIFY-------- */
.just-flex-stretch {
    justify-content: stretch;
}
.just-flex-start {
    justify-content: flex-start;
}
.just-flex-end {
    justify-content: flex-end;  
}
.just-center {
    justify-content: center; 
}
.just-space-between{
    justify-content: space-between; 
}
.just-space-around {
    justify-content: space-around;
}
.just-space-evenly {   
    justify-content: space-evenly;
}
.just-start {
    justify-content: start;
}
.just-end {
    justify-content: end; 
}
.just-left {
    justify-content: left;
}
.just-right {
    justify-content: right;
}
/* --------ALIGNMENT - ITEMS // NOT WORKING!!!--------*/
.align-item-stretch {
    align-items: stretch;
}
.align-item-flex-start {
    align-items: flex-start;
}
.align-item-flex-end {
    align-items: flex-end;
}
.align-item-center {
    align-items: center;
}
.align-item-baseline {
    align-items: baseline;
}
.align-item-first-baseline {
    align-items: first baseline;
}
.align-item-last-baseline {
    align-items: last baseline;
}
.align-item-start {
    align-items: start;
}
.align-item-end {
    align-items: end;
}
.align-item-self-start {
    align-items: self-start;
}
.align-item-self-end {
    align-items: self-end;
}
/* --------ALIGNMENT - CONTENT--------*/
.align-content- {
    color:black;
}
 